.idea/
*.zip
config.py
patstat/config_emmanuel.py
*.lock
*.dirlock
__pycache__/
doc.html
doc.nb.html
doc.Rmd
clean_participants_localhost.localdomain_Jan-10-094217-2022_Conflict.py
/doc-harvest-patstat.html
/doc.pdf
/doc.docx
/doc.tex
!application/server/config.py